include ../partials/header.pug
.form_wrapper
  .form_container
    .title_container
      h1 Qui prend quoi ?
    .row.clearfix
      div
        form(method="post", action="/party")
          .input_field
            span
              i.fa.fa-glass(aria-hidden="true")
            input#name(
              type="text",
              name="name",
              required,
              minlength="3",
              placeholder="Nom de l'événement"
            )
          .input_field
            span
              i.fa.fa-user(aria-hidden="true")
            input#author(
              type="text",
              name="author",
              required,
              minlength="3",
              placeholder="Auteur"
            )
          .input_field
            span
              i.fa.fa-calendar(aria-hidden="true")
            input#date(
              type="date",
              name="date",
              maxlength="10",
              minlength="10",
              placeholder="Date"
            )
          input#vibrate.button(, type="submit", value="Créer")
