include ../partials/header.pug
script.
  party = !{JSON.stringify(party)}
div.form_wrapper
  div.form_container
    div.title_container
      h1 Qui prend quoi ?
    h2= party.name
    h3 Créé par #{party.author}
    h2 les items
    p= messageElem
    ul
      each item in party.items
        li #{item.name} est ramener par #{item.user}
          form(
            action=`/party/${idParty}/items/${item._id}?_method=DELETE`,
            method="post"
          )
            input.danger(type="submit" value="supprimer")
          form(method="get", action=`/party/${idParty}/items/${item._id}/update`)
            input.button(type="submit" value="modifier")
    h2 Ajout d'un item
      div.row.clearfix
        div
          form.newParty(method="post", action=`/party/${idParty}/items`)
            div.input_field
              span
                i.fa.fa-birthday-cake(aria-hidden="true")
              input#name(type="text" ,name="name", required, minlength="3", placeholder="Gateau")
            div.input_field
              span
                i.fa.fa-user(aria-hidden="true")
              input#user(
                type="text" ,
                name="user",
                required,
                minlength="3",
                placeholder="Monsieur Smith"
              )
            input.button(type="submit" value="Ajouter")
    h2 Mise a jour de l'evenement
    form.newParty(method="get", action=`/party/${idParty}/update`)
      input.button(type="submit" value="modifier") 
    h2 Supprimer l'evenemnt
    form.newParty(method="post", action=`/party/${idParty}?_method=DELETE`)
      input.danger(type="submit" value="Supprimer") 
    h2 Partagez l'événement
    div.input_field
      input#url(
        type="text",
        value=`${url}`,
        data-clipboard=`${url}`,
        data-share-url=`${url}`,
        data-share-title=`${party.name}`,
        data-share-text=`${party.author} vous invite a rejoindre l'événement ${party.name}`
      )
    input#find-me.local(value="Montrer ma localisation")
    p#status
    a#map-link(, target="_blank")

