include ../partials/header.pug
.form_wrapper
  .form_container
    .title_container
      h1 Qui prend quoi ?
      h2 mise a jour de l'element
    each item in party.items
      if item._id == idElement
        .row.clearfix
          div
            form(
              method="post",
              action=`/party/${idParty}/items/${item._id}?_method=PATCH`
            )
              .input_field
                span
                  i.fa.fa-birthday-cake(aria-hidden="true")
                input#name(
                  type="text",
                  name="name",
                  required,
                  minlength="3",
                  placeholder="Gateau",
                  value=`${item.name}`
                )
              .input_field
                span
                  i.fa.fa-user(aria-hidden="true")
                input#user(
                  type="text",
                  name="user",
                  required,
                  minlength="3",
                  placeholder="Monsieur Smith",
                  value=`${item.user}`
                )
              input.button(type="submit", value="Modifier")
