//- include ../partials/header.pug
//- h1 Qui prend quoi ?
//- h2 mise a jour de l'evenement
//- form.newParty(method="post", action=`/party/${idParty}?_method=PATCH`)
//-   .newParty__fields
//-     label(for="name") Nom de l'événement
//-     input#name(
//-       name="name",
//-       required,
//-       minlength="3",
//-       placeholder="Nouvel an",
//-       value=`${party.name}`
//-     )
//-     label(for="author") Auteur
//-     input#author(
//-       name="author",
//-       required,
//-       minlength="3",
//-       placeholder="Monsieur Smith",
//-       value=`${party.author}`
//-     )
//-     label(for="date") Date
//-     input#date(
//-       name="date",
//-       maxlength="10",
//-       minlength="10",
//-       placeholder="YYYY-MM-DD",
//-       value=`${party.date}`
//-     )
//-   button(type="submit") Créer


include ../partials/header.pug
div.form_wrapper
  div.form_container
    div.title_container
      h1 Qui prend quoi ?
      h2 mise a jour de l'evenement
    div.row.clearfix
      div
        form(method="post", action=`/party/${idParty}?_method=PATCH`)
          div.input_field
            span
              i.fa.fa-glass(aria-hidden="true")
            input#name(type="text", name="name", required, minlength="3", placeholder="Nouvel an", value=`${party.name}`)
          div.input_field
            span
              i.fa.fa-user(aria-hidden="true")
            input#author(
              type="text",
              name="author",
              required,
              minlength="3",
              placeholder="Monsieur Smith",
              value=`${party.author}`
            )
          div.input_field
            span
              i.fa.fa-calendar(aria-hidden="true")
            input#date(
              type="date",
              name="date",
              maxlength="10",
              minlength="10",
              placeholder="YYYY-MM-DD"
            )
          input.button(type="submit" value="Modifier")
